[submodule "submodule/rollup"]
	path = submodule/rollup
	url = https://github.com/lemanschik/rollup.git
[submodule "submodule/vite"]
	path = submodule/vite
	url = https://github.com/vitejs/vite
[submodule "worktree/rollup"]
	path = worktree/rollup
	url = /home/frank/repos/lemanschik/b8g.git
